@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Data.Repos
@using UniversityAdmission.ViewModels
@inject UserRepository userRepository

@model ApplicantAndExamResultsViewModel

@{
    ViewData["Title"] = "Результати екзаменів";
    var user = userRepository.GetUserByToken(Context.Request.Cookies["access-cookie"]!);
}

<div class="d-flex flex-column align-items-center w-100">
    <h1 class="fw-bold">Результати екзаменів для абітурієнта @Model.Applicant.FullName</h1>
    <div class="d-flex gap-3">
        @if (user != null && user.Role != Roles.Default)
        {
            <a type="button" class="btn btn-primary my-3" asp-route-applicantId="@Model.Applicant.Id" asp-controller="ExamResult"
                asp-action="Add">Додати результат</a>
        }
        <a type="button" class="btn btn-secondary my-3" asp-controller="Applicant" asp-action="Index">Назад</a>
    </div>

    @if (!Model.ExamResults.Any())
    {
        <h2 class="fw-bold">Результатів не знайдено</h2>
    }
    else
    {
        <div class="w-100">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width: 20%;">Екзамен</th>
                        <th scope="col" class="text-center" style="width: 20%;">Предмет</th>
                        <th scope="col" class="text-center" style="width: 10%;">Творчий конкурс?</th>
                        <th scope="col" class="text-center" style="width: 20%;">Мінімальний бал для проходження</th>
                        <th scope="col" class="text-center" style="width: 10%;">Набрані бали</th>
                        <th scope="col" class="text-center" style="width: 8%;">Результат</th>
                        @if (user != null && user.Role != Roles.Default)
                        {
                            <th scope="col" class="text-center" style="width: 15%;">Дії</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.ExamResults)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4 text-break">@result.Exam!.Name</td>
                            <td class="text-start ps-4 text-break">@result.Exam!.Subject</td>
                            <td class="text-center">@(result.Exam.IsCreativeContest ? "Так" : "Ні")</td>
                            <td class="text-center text-break">@result.Exam.MinScore балів</td>
                            <td class="text-center text-break">@result.Score балів</td>
                            <td class="text-center text-break">@(result.Status ? "Пройшов" : "Не пройшов")</td>
                            @if (user != null && user.Role != Roles.Default)
                            {
                                <td class="text-center text-nowrap">
                                    <a asp-controller="ExamResult" asp-action="Edit" asp-route-examResultId="@result.Id"
                                        asp-route-applicantId="@Model.Applicant.Id" class="btn btn-warning btn-sm">Редагувати</a>
                                    <form method="post" asp-action="Delete" asp-route-applicantId="@Model.Applicant.Id"
                                        asp-route-examResultId="@result.Id" class="d-inline">
                                        <input type="hidden" name="id" value="@result.Id" />
                                        <input type="submit" class="btn btn-danger btn-sm" value="Видалити" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>