@using UniversityAdmission.Models.DTO.InfoResponces
@model FifthResponce
@{
    ViewData["Title"] = "П'ятий запит";
    var results = Model.Result.OrderBy(x => x.Value).ToList();
}

<div class="d-flex flex-column align-items-center w-100">
    <div class="card text-center bg-light my-5">
        <div class="card-body">
            <form asp-action="Fifth" method="get">
                <div class="d-flex align-items-center">
                    <p class="card-text text-nowrap m-0 me-3">
                        Отримати загальну кількість поданих заяв від вступників
                    </p>
                    <select name="responseType" class="form-select">
                        @foreach (var option in Model.ResponseOptions)
                        {
                            if (option.IsSelected)
                            {
                                <option value="@option.Value" selected>@option.Value</option>
                            }
                            else
                            {
                                <option value="@option.Value">@option.Value</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Отримати</button>
            </form>
        </div>
    </div>

    @if (!Model.Result.Any())
    {
        <h2 class="fw-bold">Немає результатів</h2>
    }
    else
    {
        <div class="w-75">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">Назва</th>
                        <th scope="col" class="text-center" style="width: 20%;">Кількість</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in results)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4">@result.Key</td>
                            <td class="text-center">@result.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>