@using UniversityAdmission.Models.DTO.InfoResponces
@model FirstResponse
@{
    ViewData["Title"] = "Перший запит";
    var groups = Model.Groups.OrderBy(g => g.Name).ToList();
}

<div class="d-flex flex-column align-items-center w-100">
    <div class="card text-center bg-light my-5">
        <div class="card-body">
            <form asp-action="First" method="get">
                <div class="d-flex align-items-center">
                    <p class="card-text text-nowrap m-0 me-3">Вивести інформацію про всі групи абітурієнтів, що
                        складають</p>
                    <select name="responseType" class="form-select">
                        <option value="">Всі групи</option>
                        @foreach (var option in Model.ResponseOptions)
                        {
                            if (option.IsSelected)
                            {
                                <option value="@option.Value" selected>@option.Value</option>
                            }
                            else
                            {
                                <option value="@option.Value">@option.Value</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Отримати</button>
            </form>
        </div>
    </div>

    <div class="w-75">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-start ps-4">Назва</th>
                    <th scope="col" class="text-center" style="width: 20%;">Дата проведення</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in groups)
                {
                    <tr class="align-middle">
                        <td class="text-start ps-4">@group.Name</td>
                        <td class="text-center">@group.ExamDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>