@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Data.Repos
@using UniversityAdmission.ViewModels
@inject UserRepository userRepository
@inject TeacherExamRepository teacherExamRepository

@model TeacherAndTeacherExamsViewModel

@{
    ViewData["Title"] = "Екзамени";
    var user = userRepository.GetUserByToken(Context.Request.Cookies["access-cookie"]!);
}

<div class="d-flex flex-column align-items-center w-100">
    <h1 class="fw-bold">Список екзаменів для викладача @Model.Teacher.FullName</h1>
    <div class="d-flex gap-3">
        @if (user != null && user.Role != Roles.Default)
        {
            <a type="button" class="btn btn-primary my-3" asp-route-teacherId="@Model.Teacher.Id" asp-controller="TeacherExam"
                asp-action="Add">Додати екзамен</a>
        }
        <a type="button" class="btn btn-secondary my-3" asp-controller="Teacher" asp-action="Index">Назад</a>
    </div>

    @if (!Model.TeacherExams.Any())
    {
        <h2 class="fw-bold">Екзаменів не знайдено</h2>
    }
    else
    {
        <div class="w-100">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">
                            Назва
                        </th>
                        <th scope="col" class="text-center">Предмет</th>
                        <th scope="col" class="text-center" style="width: 20%;">
                            Мінімальний бал
                        </th>
                        <th scope="col" class="text-center" style="width: 15%;">Творчий конкурс?</th>
                        @if (user != null && user.Role != Roles.Default)
                        {
                            <th scope="col" class="text-center" style="width: 20%;">Дії</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacherExam in Model.TeacherExams)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4 text-break">@teacherExam.Exam!.Name</td>
                            <td class="text-center text-break">@teacherExam.Exam.Subject</td>
                            <td class="text-center text-break">@teacherExam.Exam.MinScore балів</td>
                            <td class="text-center">@(teacherExam.Exam.IsCreativeContest ? "Так" : "Ні")</td>
                            @if (user != null && user.Role != Roles.Default)
                            {
                                <td class="text-center text-nowrap">
                                    <form method="post" asp-action="Delete" asp-route-teacherId="@Model.Teacher.Id"
                                        asp-route-teacherExamId="@teacherExam.Id" class="d-inline">
                                        <input type="hidden" name="id" value="@teacherExam.Id" />
                                        <input type="submit" class="btn btn-danger btn-sm" value="Видалити" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>