@using MongoDB.Bson
@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Data.Repos
@inject UserRepository userRepository
@model List<Speciality>
@{
    ViewData["Title"] = "Спеціальності";
    var user = userRepository.GetUserByToken(Context.Request.Cookies["access-cookie"]!);
}

<div class="d-flex flex-column align-items-center w-100">
    <h1 class="fw-bold">Список спеціальностей</h1>
    @if (user != null && user.Role != Roles.Default)
    {
        <a type="button" class="btn btn-primary my-3" asp-controller="Speciality" asp-action="Add">Додати спеціальність</a>
    }

    <!-- Форма пошуку та фільтраціі -->
    <div class="w-100 mb-3">
        <form asp-action="Index" method="get" class="d-flex gap-3">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control"
                placeholder="Пошук за назвою, описом або кафедрою..." />
            <select name="departmentFilter" class="form-select" style="width: 40%;">
                <option value="">Всі кафедри</option>
                @foreach (var department in ViewBag.Departments.Values)
                {
                    if (ViewData["CurrentDepartmentFilter"] != null &&
                    (ObjectId?)ViewData["CurrentDepartmentFilter"] == department.Id)
                    {
                        <option value="@department.Id" selected>@department.Name</option>
                    }
                    else
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                }
            </select>
            <button type="submit" class="btn btn-primary">Пошук</button>
            @if (!string.IsNullOrEmpty(ViewData["CurrentFilter"]?.ToString()) ||
            ViewData["CurrentDepartmentFilter"] != null)
            {
                <a asp-action="Index" class="btn btn-secondary">Очистити</a>
            }
        </form>
    </div>

    @if (!Model.Any())
    {
        <h2 class="fw-bold">Спеціальностей не знайдено</h2>
    }
    else
    {
        <div class="w-100">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-start ps-4" style="width: 25%;">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]"
                                asp-route-searchString="@ViewData["CurrentFilter"]"
                                asp-route-departmentFilter="@ViewData["CurrentDepartmentFilter"]"
                                class="text-white text-decoration-none">
                                Назва
                                @if (ViewData["NameSortParam"] as string == "name_desc")
                                {
                                    <i class="bi bi-sort-down"></i>
                                }
                                else
                                {
                                    <i class="bi bi-sort-up"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" class="text-start ps-4" style="width: 35%;">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]"
                                asp-route-searchString="@ViewData["CurrentFilter"]"
                                asp-route-departmentFilter="@ViewData["CurrentDepartmentFilter"]"
                                class="text-white text-decoration-none">
                                Опис
                                @if (ViewData["DescriptionSortParam"] as string == "description_desc")
                                {
                                    <i class="bi bi-sort-down"></i>
                                }
                                else
                                {
                                    <i class="bi bi-sort-up"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" class="text-start ps-4" style="width: 20%;">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DepartmentSortParam"]"
                                asp-route-searchString="@ViewData["CurrentFilter"]"
                                asp-route-departmentFilter="@ViewData["CurrentDepartmentFilter"]"
                                class="text-white text-decoration-none">
                                Кафедра
                                @if (ViewData["DepartmentSortParam"] as string == "department_desc")
                                {
                                    <i class="bi bi-sort-down"></i>
                                }
                                else
                                {
                                    <i class="bi bi-sort-up"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" class="text-center">Екзамени</th>
                        @if (user != null && user.Role != Roles.Default)
                        {
                            <th scope="col" class="text-center" style="width: 20%;">Дії</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var speciality in Model)
                    {
                        var department = ViewBag.Departments[speciality.DepartmentId];
                        <tr class="align-middle">
                            <td class="text-start ps-4 text-break">@speciality.Name</td>
                            <td class="text-start ps-4 text-break">@speciality.Description</td>
                            <td class="text-start ps-4 text-break">@department.Name</td>
                            <td class="text-center text-nowrap">
                                <a type="button" class="btn btn-primary" asp-route-specialityId="@speciality.Id"
                                    asp-controller="RequiredExam" asp-action="Index">Перегляд екзаменів</a>
                            </td>
                            @if (user != null && user.Role != Roles.Default)
                            {
                                <td class="text-center text-nowrap">
                                    <a type="button" class="btn btn-warning" asp-controller="Speciality" asp-action="Edit"
                                        asp-route-id="@speciality.Id">Редагувати</a>
                                    <form method="post" asp-action="Delete" class="d-inline">
                                        <input type="hidden" name="id" value="@speciality.Id" />
                                        <input type="submit" class="btn btn-danger" value="Видалити" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>