@using UniversityAdmission.Models.Entities
@using UniversityAdmission.Data.Repos
@using UniversityAdmission.ViewModels
@inject UserRepository userRepository
@inject RequiredExamRepository requiredExamRepository

@model SpecialityAndRequiredExamsViewModel

@{
    ViewData["Title"] = "Екзамени";
    var user = userRepository.GetUserByToken(Context.Request.Cookies["access-cookie"]!);
}

<div class="d-flex flex-column align-items-center w-100">
    <h1 class="fw-bold">Список екзаменів для @Model.Speciality.Name</h1>
    @if (user != null && user.Role != Roles.Default)
    {
        <a type="button" class="btn btn-primary my-3" asp-route-id="@Model.Speciality.Id" asp-controller="RequiredExam"
            asp-action="Add">Додати екзамен</a>
    }

    @if (!Model.RequiredExams.Any())
    {
        <h2 class="fw-bold">Екзаменів не знайдено</h2>
    }
    else
    {
        <div class="w-100">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-start ps-4">
                            Назва
                        </th>
                        <th scope="col" class="text-start ps-4">Предмет</th>
                        <th scope="col" class="text-center" style="width: 20%;">
                            Мінімальний бал
                        </th>
                        <th scope="col" class="text-center" style="width: 15%;">Творчий конкурс?</th>
                        @if (user != null && user.Role != Roles.Default)
                        {
                            <th scope="col" class="text-center" style="width: 20%;">Дії</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var requiredExam in Model.RequiredExams)
                    {
                        <tr class="align-middle">
                            <td class="text-start ps-4 text-break">@requiredExam.Exam!.Name</td>
                            <td class="text-start ps-4 text-break">@requiredExam.Exam.Subject</td>
                            <td class="text-center text-break">@requiredExam.Exam.MinScore балів</td>
                            <td class="text-center">@(requiredExam.Exam.IsCreativeContest ? "Так" : "Ні")</td>
                            @if (user != null && user.Role != Roles.Default)
                            {
                                <td class="text-center text-nowrap">
                                    <form method="post" asp-action="Delete" asp-route-specialityId="@Model.Speciality.Id"
                                        asp-route-requiredExamId="@requiredExam.Id" class="d-inline">
                                        <input type="hidden" name="id" value="@requiredExam.Id" />
                                        <input type="submit" class="btn btn-danger" value="Видалити" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>